{% load staticfiles admin_static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js" type="text/javascript"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static "bikurcholim/jquery.watable.js" %}"></script>
<script type="text/javascript" src="{% static "bikurcholim/bootstrap-datepicker.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "bikurcholim/menu/menu.css" %}" media="screen" />

<link rel="stylesheet" href="{% static "bikurcholim/watable.css" %}"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<style>
	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#menu {
    list-style:none;
    width:575px;
    margin:30px auto 0px auto;
    height:43px;
    padding:0px 20px 0px 20px;
 
    /* Rounded Corners */
     
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
 
    /* Background color and gradients */
     
    background: #014464;
    background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
     
    /* Borders */
     
    border: 1px solid #002232;
 
    -moz-box-shadow:inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
    box-shadow:inset 0px 0px 1px #edf9ff;
	}
	.dropdown_3columns {width: 475px;}
</style>
{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% block bodyclass %}
<body>
{% endblock %}
<!-- Container -->
<div id="container">
	    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}<h1 id="site-name"><a href="{% url 'index' %}">Bikur Cholim Database</a></h1>{% endblock %}
        </div>
		{% block user-tools %}
		<div id="user-tools">
            {% block welcome-msg %}
                Welcome
                <strong>{% firstof user.get_short_name user.get_username %}.</strong>
            {% endblock %}
            {% block userlinks %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">Change password</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">Log out</a>
            {% endblock %}
        </div>
		{% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
	{% block breadcrumbs %}{% endblock %}
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content %}
<ul id="menu">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="#" class="drop">Administration</a>
    	<div class="dropdown_3columns">
	    	<div class="col_1">
	            <h3>Main</h3>
	            <ul>
	                <li><a href="{% url 'admin:index' %}" target="_blank">Home</a></li>
	            </ul>   
	        </div>
	        <div class="col_1">
	            <h3>Data Entry</h3>
	            <ul>
	                <li><a href="{% url 'admin:bikurcholim_volunteers_changelist' %}" target="_blank">Volunteers</a></li>
	                <li><a href="{% url 'admin:bikurcholim_intakecalls_changelist' %}" target="_blank">Intake Calls</a></li>
	                <li><a href="{% url 'admin:bikurcholim_cases_changelist' %}" target="_blank">Cases</a></li>
	                <li><a href="{% url 'admin:bikurcholim_housingschedule_changelist' %}" target="_blank">Housing</a></li>
	                <li><a href="{% url 'admin:bikurcholim_tasks_changelist' %}" target="_blank">Tasks</a></li>
	                <li><a href="{% url 'update_services' %}">Services Multi Update</a></li>
	            </ul>  
	        </div>
	        <div class="col_1">
	            <h3>User Administration</h3>
	            <ul>
	                <li><a href="{% url 'admin:auth_user_changelist' %}" target="_blank">Users</a></li>
	                <li><a href="{% url 'admin:auth_group_changelist' %}" target="_blank">Groups</a></li>
	           </ul>  
	        </div>
	    </div>
    </li>
    <li><a href="#" class="drop">Reporting</a>
    	<div class="dropdown_1column">
	    	<p><a href="{% url 'volunteers' %}">Volunteers</a></p>
	    	<p><a href="{% url 'intakecalls' %}">Intake Calls</a></p>
	    	<p><a href="{% url 'cases' %}">Cases</a></p>
	    	<p><a href="{% url 'clientservice' %}">Client Services</a></p>
	    	<p><a href="{% url 'housingschedule' %}">Housing</a></p>
	    	<p><a href="{% url 'tasks' %}">Tasks</a></p>
    	</div>
    </li>
    <li><a href="#" class="drop">Calendars</a>
    	<div class="dropdown_1column">
    		<p><a href="{% url 'housingcalendar' %}">Housing Calendar</a></p>
    		<p><a href="{% url 'servicescalendar' %}">Services Calendar</a></p>
    	</div>
    </li>
</ul>
		{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->
</body>
</html>
