{% extends "bikurcholim/bc_base_site.html" %}

{% block title %}Intake Call: #{{ object.id }}{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>
	&rsaquo; <a href="{% url 'intakecalls' %}">Intake Calls</a>
	&rsaquo; {{ object.id }}
	</div>
{% endblock %}

{% block content %}
{{ block.super }}
<table>
	<tr height="75"><td></td></tr>
</table>
	<h1>Intake Call #: {{ object.id }}</h1>
	<ul class="object-tools">
	    <li>
	    	<a href={% url change object.id %} class="changelink">			
	        Change Intake Call #{{ object.id }}
	        </a>
	      </a>
	    </li>
    </ul>
	<div id="content-main">
		<div>
  <fieldset class="module aligned ">
        <div class="form-row field-client">
			<div>
                        <label class="required" for="id_client">First Name:</label>
                        {{ object.first_name }}
                </div>
        </div>
		<div class="form-row field-lastname">
			<div>
                        <label class="required" for="id_client">Last Name:</label>
                        {{ object.last_name }}
                </div>
        </div>
        <div class="form-row field-open_date">
                <div>
                        <label for="id_open_date">Date Call Received:</label>
                        {{ object.date_call_received }}
                </div>
        </div>
        <div class="form-row field-date_of_service">
                <div> 
                        <label for="id_date_of_service_0">Initiating Phone Number:</label>
                        {{ object.initiating_phone_number }}
                </div>
        </div>
        <div class="form-row field-close_date">
                <div> 
                        <label for="id_close_date">Initiating Name:</label>
                        {{ object.initiating_name }}
                </div>
        </div>
        <div class="form-row field-service">
                <div>
                        <label for="id_service">Service:</label>
                        {{ object.service }}
                </div>
        </div>
        <div class="form-row field-service">
                <div>
                        <label for="id_service">Hospital:</label>
                        {{ object.hospital }}
                </div>
        </div>
        <div class="form-row field-description">
                <div>
                        <label for="id_description">Description:</label>
                        {{ object.description }}
                </div>
            
        </div>
    	<div class="form-row field-description">
                <div>
                        <label for="id_description">Made Into Case:</label>
                        {{ object.made_into_case }}
                </div>
            
        </div>
</fieldset>

		</div>
	</div>
{% endblock %}