{% extends "bikurcholim/bc_base_site.html" %}
{% block title %}Bikur Cholim User Login{% endblock %}
{% block bodyclass %}<body class=" login">{% endblock %}
{% block user-tools %}{% endblock %}
{% block content %}

{% if error %}
<p class="errornote">
    {{ error }}
</p>
{% endif %}

<div id="content-main">
<form action="{% url 'login' %}" method="post" id="login-form">
	{% csrf_token %}
  <div class="form-row">
    <label for="id_username" class="required">Username:</label>
	<input id="id_username" maxlength="254" name="username" type="text" />
  </div>
  <div class="form-row">
    <label for="id_password" class="required">Password:</label>
	<input id="id_password" name="password" type="password" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
