{% extends "bikurcholim/bc_base_site.html" %}
{% load static %}
{% load i18n admin_urls admin_static admin_list %}
{% load url from future %}
{% block title %}{{ bigName }}{% endblock %}
{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
	var json_data="{{ data }}"
	var smallName="{{ smallName}}"
	var url="{% url 'index' %}"
</script>
<script type="text/javascript" src="{% static "bikurcholim/bc_watables.js" %}"></script>
<!-- END Header -->
{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>
	&rsaquo; <a href="{% url smallName %}">{{ bigName }}</a>
	&rsaquo;
	</div>
{% endblock %}
{% block content %}
{{ block.super }}
<table>
	<tr height="75"><td></td></tr>
</table>
<h1>{{ bigName }}</h1>
	
	<div id="content-main">
        
		<div id="div1" style="width:auto"></div>
		<ul class="object-tools">
            <li>
            	<a href={% url add %} class="addlink" target="_blank">			
                Add {{ bigName }}
                </a>
              </a>
            </li>
        </ul>
	</div>
{% endblock %}