{% extends "bikurcholim/bc_base_site.html" %}

{% block title %}Update Client Services{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>
	&rsaquo; <a href="{% url 'update_services' %}">Update Client Services</a>
	&rsaquo;
	</div>
{% endblock %}

{% block content %}
{{ block.super }}
<table>
	<tr height="75"><td></td></tr>
</table>
<p style="font-weight: bold;color: red"></class>{{ success }}</p>
<form method="post" action="">
	{% csrf_token %}
	<div class="inline-group" id="clientservice_set-group">
  		<div class="tabular inline-related ">
	{{ formset.management_form }}
	<fieldset class="module">
	<h2>Open Client Services</h2>
	
	<table>
		<thead><tr> 
         <th class="required">Service    
         </th>
         <th>Client
         </th>
         <th>Volunteer
         </th>
         <th>Description
         </th>
         <th>Open date
         </th>
         <th>Close date
         </th>
         <th>Status
         </th>
         <th>Number of times
         </th>
         </tr></thead>
         <tbody>
         	
    
    {% for form in formset %}
    	<tr class="form-row {% cycle 'row1' 'row2' %}">
    	{% for field in form %}
    		<td class="field-{{field.name}}">
            {{ field }}
           </td>
        {% endfor %}
       	</tr>
    {% endfor %}
    </tbody>
   </table>
   </fieldset>
   <div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />

</div>
   	</div>
   </div>
   
</form>


{% endblock %}