{% extends "bikurcholim/bc_base_site.html" %}
{% load static %}
{% block title %}Volunteers{% endblock %}
{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
	var json_data="{{ volunteers }}"
</script>
<script type="text/javascript" src="{% static "bikurcholim/bc_watables.js" %}"></script>
<!-- END Header -->
{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>
	&rsaquo; <a href="{% url 'volunteers' %}">Volunteers</a>
	&rsaquo;
	</div>
{% endblock %}
{% block content %}
<h1>Volunteers</h1>

	<div id="content-main">
		<div id="div1" style="width:auto"></div>
	</div>
{% endblock %}