{% extends "bikurcholim/bc_base_site.html" %}
{% load static %}
{% block title %}Cases Advanced{% endblock %}
{% block head %}
{{ block.super }}
 <link rel="stylesheet" type="text/css" href="{% static "bikurcholim/pivot.css" %}">
 <script type="text/javascript" src="{% static "bikurcholim/jquery-1.8.3.min.js" %}"></script>
 <script type="text/javascript" src="{% static "bikurcholim/jquery-ui-1.9.2.custom.min.js" %}"></script>
 <script type="text/javascript" src="{% static "bikurcholim/pivot.js" %}"></script>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script type="text/javascript" src="{% static "bikurcholim/gchart_renderers.js" %}"></script>

  
<!-- END Header -->
{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>
	&rsaquo; <a href="{% url 'cases' %}">Cases</a>
	&rsaquo; Advanced &rsaquo;
	</div>
{% endblock %}
{% block content %}
<h1>Cases Advanced</h1>

	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart", "charteditor"]});
		var json_data="{{ data }}";
		json_data=getData(json_data);

    	$(function(){
    		var derivers = $.pivotUtilities.derivers;
            var renderers = $.extend($.pivotUtilities.renderers, 
                $.pivotUtilities.gchart_renderers);
	        $("#output").pivotUI(

	        json_data, {renderers: renderers}
			);
    	});
    	function getData(data) {
    		
			data=data.replace(/&quot;/g, '"');
			data=data.replace(/&lt;/g, '<');
			data=data.replace(/&gt;/g, '>');
			data=data.replace(/&#39;/g, "'");
			//obj = JSON.parse(data);
			//data=data.replace(/"(\w+)"\s*:/g, '$1:');
			//r = "[{\"id\": 1, \"status\": \"Open\", \"statusFormat\": \"<div class='yellow'>{0}</div>\", \"client\": \"Rich, Timothy\", \"volunteer\": \"Allison, Wyoming\", \"open_date\": 1416459600000, \"date_of_service\": 1409547600000, \"close_date\": 0, \"service\": \"Drive\", \"description\": \"nisi\"}, {\"id\": 2, \"status\": \"Assigned\", \"statusFormat\": \"<div class='green'>{0}</div>\", \"client\": \"Tanner, Amela\", \"volunteer\": \"Phelps, Sybil\", \"open_date\": 1409544000000, \"date_of_service\": 1409547600000, \"close_date\": 0, \"service\": \"Drive\", \"description\": \"et magnis dis parturient\"}]"
			//alert(r)
			var array = JSON.parse(data);
			return array;
		}	
    </script>

	<div id="output" style="margin: 10px;"></div>
	
{% endblock %}