{% extends "bikurcholim/bc_base_site.html" %}

{% block title %}Client - {{ object.get_name }}{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>
	&rsaquo; <a href="{% url 'clients' %}">Clients</a>
	&rsaquo; {{ object.get_name }}
	</div>
{% endblock %}

{% block content %}
	<h1>Client - {{ object.get_name }}</h1>
	<ul class="object-tools">
	    <li>
	    	<a href={% url change object.id %} class="addlink">			
	        Change {{ object.get_name }}
	        </a>
	      </a>
	    </li>
    </ul>
	<div id="content-main">
		<div>
  <fieldset class="module aligned ">
        <div class="form-row field-first_name">
                <div>
                        <label class="required" for="id_first_name">First name:</label>
						{{ object.first_name }}
                </div>
        </div>
        <div class="form-row field-last_name">
                <div>
                        <label class="required" for="id_last_name">Last name:</label>
						{{ object.last_name }}
                </div>
        </div>
        <div class="form-row field-address">
                <div>
                        <label class="required" for="id_address">Address:</label>
                        {{ object.address }}
                </div>
        </div>
        <div class="form-row field-city">
                <div>
                        <label class="required" for="id_city">City:</label>
                        {{ object.city }}
                </div>
        </div>
        <div class="form-row field-home_phone">
                <div>
                        <label class="required" for="id_home_phone">Home phone:</label>
                        {{ object.home_phone }}
                </div>
        </div>
        <div class="form-row field-cell_phone">
                <div>
                        <label class="required" for="id_cell_phone">Cell phone:</label>
                        {{ object.cell_phone }}
                </div>
        </div>
        <div class="form-row field-email_address">
                <div>
                        <label class="required" for="id_email_address">Email address:</label>
                        {{ object.email_address }}
                </div>
        </div>
        <div class="form-row field-neighborhood">
                <div>
                        <label class="required" for="id_neighborhood">Neighborhood:</label>
                        {{ object.neighborhood }}
                </div>
        </div>
        <div class="form-row field-status">
                <div>
                        <label class="required" for="id_status">Status:</label>
                        {{ object.status }} 
                </div>
        </div>
        <div class="form-row field-start_date">
                <div>
                        <label class="required" for="id_start_date">Start date:</label>
                        {{ object.start_date }}
                </div>
        </div>
        <div class="form-row field-expected_end_date">
                <div>
                        <label class="required" for="id_expected_end_date">Expected end date:</label>
                        {{ object.expected_end_date }}
                </div>
        </div>
        <div class="form-row field-end_date">
                <div>
                        <label class="required" for="id_end_date">End date:</label>
                        {{ object.end_date }}
                </div>
        </div>
        <div class="form-row field-hospital">
                <div>
                        <label class="required" for="id_hospital">Hospital:</label>
                        {{ object.hospital }}
                </div>
        </div>
        <div class="form-row field-hospital_room">
                <div>
                        <label class="required" for="id_hospital_room">Hospital room:</label>
                        {{ object.hospital_room }}
                </div>
        </div>
        <div class="form-row field-hospital_notes">
                <div>
                        <label class="required" for="id_hospital_notes">Hospital notes:</label>
						{{ hospital_notes }}
                </div>
        </div>
        <div class="form-row field-tikvah_house">
                <div>
                        <label class="required" for="id_tikvah_house">Tikvah house:</label>
                        {{ object.tikvah_house }}
                </div>
        </div>
        <div class="form-row field-tikvah_room">
                <div>
                        <label class="required" for="id_tikvah_room">Tikvah room:</label>
                        {{ object.tikvah_room }}
                </div>
        </div>
        <div class="form-row field-food_notes">
                <div>
                        <label class="required" for="id_food_notes">Food notes:</label>
                        {{ object.food_notes }}
                </div>
        </div>
        <div class="form-row field-allergies">
                <div>
                        <label class="required" for="id_allergies">Allergies:</label>
                        {{ object.allergies }}
                </div>
        </div>
        <div class="form-row field-transportation">
                <div>
                        <label class="required" for="id_transportation">Transportation:</label>
                        {{ object.transportation }}
                </div>
        </div>
        <div class="form-row field-visitor_comments">
                <div>
                        <label class="required" for="id_visitor_comments">Visitor comments:</label>
                        {{ object.visitor_comments }}
				</div>
        </div>
        <div class="form-row field-medical_equipment">
                <div>
                        <label class="required" for="id_medical_equipment">Medical equipment:</label>   
                        {{ object.medical_equipment }}
                </div>
        </div>
        <div class="form-row field-donation_made">
                <div>
                        <label class="required" for="id_donation_made">Donation made:</label>
                        {{ object.donation_made }}
                </div>
        </div>
        <div class="form-row field-text_ability">
                <div class="checkbox-row">
                    <label class="vCheckboxLabel required" for="id_text_ability">Text ability</label>
                    {% if object.text_ability == 1 %}
						<input type="checkbox" checked disabled>
					{% else %}
						<input type="checkbox" disabled>
					{% endif %}
                </div>
        </div>
        <div class="form-row field-yoshon">
                <div class="checkbox-row">
					<label class="vCheckboxLabel required" for="id_yoshon">Yoshon</label>
                    {% if object.yoshon == 1 %}
						<input type="checkbox" checked disabled>
					{% else %}
						<input type="checkbox" disabled>
					{% endif %}
                </div>
        </div>
        <div class="form-row field-cholov_yisroel">
                <div class="checkbox-row">
				<label class="vCheckboxLabel required" for="id_cholov_yisroel">Cholov yisroel</label>
                {% if object.cholov_yisroel == 1 %}
						<input type="checkbox" checked disabled>
					{% else %}
						<input type="checkbox" disabled>
					{% endif %}    
                </div>
        </div>
        <div class="form-row field-food_to_hospital">
                <div class="checkbox-row">
				<label class="vCheckboxLabel required" for="id_food_to_hospital">Food to hospital</label>
                {% if object.food_to_hospital == 1 %}
					<input type="checkbox" checked disabled>
				{% else %}
					<input type="checkbox" disabled>
				{% endif %}    
                </div>
        </div>
        <div class="form-row field-food_to_home">
                <div class="checkbox-row">
                <label class="vCheckboxLabel required" for="id_food_to_home">Food to home</label>
                {% if object.food_to_home == 1 %}
					<input type="checkbox" checked disabled>
				{% else %}
					<input type="checkbox" disabled>
				{% endif %}        
                </div>
        </div>
        <div class="form-row field-meal_coordinator">
                <div>
                        <label class="required" for="id_meal_coordinator">Meal coordinator:</label>
                        {{ object.meal_coordinator }}
                </div>
        </div>
        <div class="form-row field-meal_preparer">
                <div>
                        <label class="required" for="id_meal_preparer">Meal preparer:</label>
                        {{ object.meal_preparer }}
                </div>
        </div>
		        <div class="form-row field-meal_coordinator">
                <div>
                        <label for="id_meal_coordinator">Created At:</label>
                        {{ object.created_at }}	
                </div>
        </div>
        <div class="form-row">
                <div>
                        <label for="id_meal_preparer">Updated at:</label>
                        {{ object.updated_at }}
                </div>
        </div>
</fieldset>
		</div>
	</div>
{% endblock %}