{% extends "bikurcholim/bc_base_site.html" %}
{% load static %}
{% block title %}Cases{% endblock %}
{% block extrahead %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "bikurcholim/bikurcholim.css" %}" />

<!-- END Header -->
{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
	<a href="{% url 'index' %}">Home</a>
	&rsaquo; 
	</div>
{% endblock %}
{% block content %}
<div id="content-main" align="center">
<table>
	<tr align="center" >
		<td colspan="5">
			<a href="{% url 'admin:index' %}">
			<span id="id_0" class="button_example" style="cursor:pointer;">Administration</span>
			</a>
		</td>
	</tr>
	<tr height="50"></tr>
	<tr align="center">
		<td>
			<a href="{% url 'volunteers' %}">
			<span id="id_0" class="button_example" style="cursor:pointer;">&nbsp;&nbsp;Volunteers&nbsp;&nbsp;</span>
			</a>
		</td>
		<td width="50"></td>
		<td>
			<a href="{% url 'clients' %}">
			<span id="id_0" class="button_example" style="cursor:pointer;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clients&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</a>
		</td>
		<td width="50"></td>
		<td>
			<a href="{% url 'cases' %}">
			<span id="id_0" class="button_example" style="cursor:pointer;">&nbsp;&nbsp;&nbsp;&nbsp;Cases&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</a>
		</td>
	</tr>
</table>
</div>
{% endblock %}